body{
 font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 80vh;
background-color: #FFCF99;
margin: 0px;
color:white;

}

.item{
    width: 260px;


    transition: all .5s ;
}

a{
    text-decoration:none;


}
div{
  color:white;
}
.label {

    padding: 30px 10px 30px 10px;
    height: 40px;
    font-size: 24.75px;

    font-weight: bold;
    color:white;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: ;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color: #FFAA5A;
    transition: all .5s ;
}
.label.success {
    background-color: #FFAA5A;
}

.item a p.new-label span{
  position: relative;
  content: '';
  transition: all .5s ;


}
.item:hover a .new-label span{

  display: none;
}
.item:hover a p.new-label:after{
  content: 'HOW ARE YOU?';
  text-align: center;
  transition: all .5s ;
  color:color;

}
.item:hover{
  width: 320px;
  font-size: 40px;
  transition: all .5s ;

}

.label:HOVER{
  background-color: #fe7f5f;

transition: all .5s ;
}
